.landing-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-top: 80px;
}

button {
    margin: auto;
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    font-size: 100px;
    color: white;
    background-color:transparent;
    border: 6px solid white;
}

h5 {
    text-align: center;
    color: white;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
}

a {
    color: white;
}