/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Concert+One');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body, button {
  font-family: 'Concert One', sans-serif;
  font-size: 16px;
}

.gradient-bg {
  background-image: linear-gradient(#056281, #147fa1);
}
